body {
	font-family: sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

header {
	display: flex;
	min-height: 70px;
	background-color: white;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 60px;
	margin-left: 10px;
	border-radius: 30px;
}

nav a {
	font-weight: 600;
	padding-right: 10px;
	margin-right: 10px;
}

nav a:hover {
	color: red;
}

.container-info{
	background-image: url(img-uno.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: black;
	height: 350px;
	padding: 80px;
	background-color:white;
}

h2{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.flex-container{
	background-color: black;
	display: flex;
	flex-direction:row;
	height: 400px;
	justify-content: space-around;
}

.flex-box{
	background-color: white;
	box-sizing: border-box;
	width: 300px;
	height: 300px;
	margin: 50px;
	text-align: center;
}

.img-container{
	display: flex;
	margin-left: 50px;
	margin-top: 40px;
	width: 200px;
	height: 200;
}

/*carrusel*/

* {
	box-sizing: border-box;
}


img {
	vertical-align: middle;
}

.container {
	position: relative;
}

.mySlides {
	display: none;
}

.cursor {
	cursor: pointer;
}
.prev,

.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,

.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 16.66%;
}

.demo {
	opacity: 0.6;
}

.active,

.demo:hover {
	opacity: 1;
}

/*media queries*/
@media (max-width:700px) {
	header {
		flex-direction: column;
	}
	nav {
		padding: 10px 0px;
	}
}

@media (min-width: 550px) {
	.navbar {
		all: unset;
		display: block;
	}
	.navbar ul {
		flex-direction: row;
		gap: 20px;
	}
	.navbar ul a {
		font-size: inherit;
	}
	.close-nav,
	.menu-bar {
		display: none;
	}
}

/*carrusel*/
@supports(object-fit: cover) {

	.box img {
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

